{% extends "base.html" %}
{% block title%} login2 {% endblock %}
{% block content %}
    <h1>login</h1>
    {% if form.errors %}
    <p>your name and password didn't match.
        please try again.
    </p>
    {%else %}
    <p>please, use the following form to login</p>
    {% endif %}
    <div class = 'login-form'>
        <form action="{% url 'account:login' %}" method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <input type="hidden" name='next' value="{{ next }}"/>
            <p><input type="submit" value = 'login'></p>
        </form>
    </div>
{% endblock %}